/**
 * style.css
 **/

/* Reset */
:focus {
    outline: 0 !important;
}
.fit-vids-style {
    display: none;
}
figure {
    margin: 0;
    padding: 0;
}
figure img {
    width: 100%;
    height: auto;
}
iframe {
    border: none;
}
::selection {
    background: #fefac7;
    color: #555;
}
::-moz-selection {
    background: #fefac7;
    color: #555;
}

/* General */
body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    overflow-x: hidden;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    font-weight: 500;
}
body, li, address {
    line-height: 1.6;
}
input, button, select, textarea {
    font-size: 14px;
    font-weight: 500;
}
a {
    color: #3f8dbf;
    -webkit-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}
a:hover, a:focus {
    color: #2e2e2e;
    text-decoration: none;
}
.colored {
    color: #3f8dbf;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    margin-top: 0;
    color: #333;
    margin-bottom: 10px;
    font-weight: 800;
}
h1 {
    font-size: 28px;
    line-height: 30px;
}
h2 {
    font-size: 24px;
    line-height: 28px;
}
h3 {
    font-size: 20px;
    line-height: 22px;
}
h4 {
    font-size: 18px;
    margin-bottom: 8px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
}
.page-title {
    min-height: 91px;
}
.page-title h1 {
    font-size: 22px;
    font-weight: normal;
    margin: 4px 0 0 0;
}
h3.post-title {
    font-size: 16px;
}
h1.post-title {
    font-size: 22px;
    line-height: 28px;
}
.post-title a {
    color: #333;
}
.post-title a:hover {
    color: #3f8dbf;
}
.classic-blog .post-title {
    margin: 0 0 3px 0;
}
.upper {
    text-transform: uppercase;
}
.section-title {
    margin-bottom: 40px
}
.section-title h2 {
    font-weight: 800;
    text-transform: lowercase;
    font-size: 25px;
    color: #b6b6b6;
}
.section-title .icon {
    display: inline-block;
    font-size: 18px;
    line-height: 21px;
    width: 130px;
    margin: 0 auto;
    position: relative;
    color: #cacaca;
}
.section-title .icon:before {
    display: inline-block;
    content: "";
    border-bottom: 1px solid #dadada;
    position: absolute;
    left: 0;
    top: 10px;
    width: 50px;
}
.section-title .icon:after {
    display: inline-block;
    content: "";
    border-bottom: 1px solid #dadada;
    position: absolute;
    right: 0;
    top: 10px;
    width: 50px;
}
.light-wrapper {
    background: #fff;
    border-bottom: 1px solid #e3e3e3;
}
.dark-wrapper {
    background: #f9f9f9;
    border-bottom: 1px solid #e3e3e3;
}
.dark-wrapper .page-wrapper {
    width: 100%;
    padding: 15px 20px;
    background: #fff;
    position: relative;
    border: 1px solid #e3e3e3;
}
.black-wrapper {
    background: #2c2c2c;
    color: #cacaca;
}
.black-wrapper .lead {
    color: #cacaca;
}
.black-wrapper a {
    color: #cacaca;
}
.black-wrapper a:hover {
    color: #3f8dbf;
}
.black-wrapper h1,
.black-wrapper h2,
.black-wrapper h3,
.black-wrapper h4,
.black-wrapper h5,
.black-wrapper h6 {
    color: #f0f0f0;
}
.black-wrapper .section-title h2,
.black-wrapper .section-title .icon {
    color: #9b9b9b
}
.black-wrapper .section-title .icon:before,
.black-wrapper .section-title .icon:after {
    border-color: #636363
}
.widget-title {
    font-size: 14px;
    margin: 0 0 20px 0;
}
.footer {
    padding-top: 30px;
}
.footer-logo {
    margin-bottom: 5px;
}
.footer-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer-menu li {
    display: inline;
    padding-left: 10px;
    font-size: 12px;
}
.footer-menu li:before {
    display: inline-block;
    content: "|";
    padding-right: 12px;
}
.footer-menu li:first-child:before {
    display: none
}
.sub-footer {
    border-top: 1px solid #ddd;
    padding: 25px 0;
}
.footer .banner {
    margin-top: 75px;
}
.footer .banner dl {
    margin-bottom: 0;
}
.black-wrapper .sub-footer {
    background: #292929;
}
.sub-footer p {
    padding: 4px 0 0 0;
    margin: 0;
    font-size: 12px;
}
.color-wrapper {
    background: #3f8dbf
}
.color-wrapper,
.color-wrapper p {
    color: #FFF
}
.color-wrapper h1,
.color-wrapper h2,
.color-wrapper h3,
.color-wrapper h4,
.color-wrapper h5,
.color-wrapper h6 {
    color: #FFF
}
.inner {
    padding-top: 70px;
    padding-bottom: 70px;
}
.page-title .inner {
    padding-top: 26px;
    padding-bottom: 26px;
}
.lead {
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
}
.thin {
    width: 80%;
    margin: 0 auto;
}
ul {
    padding: 0 0 0 18px;
}
ol {
    padding: 0 0 0 20px;
}
ul.circled {
    padding: 0;
    list-style: none;
}
ul.circled li:before {
    content: "\e800";
    margin-right: 10px;
    font-weight: normal;
    vertical-align: top;
    padding-top: 7px;
    display: inline-block;
    font-family: "fontello-circle";
    color: #3f8dbf;
    font-size: 10px;
}
blockquote {
    border-left: 2px solid #dadada;
    padding: 0 20px;
}
blockquote p {
    font-size: 16px;
    line-height: 1.4;
}
blockquote small {
    color: #3f8dbf;
}
hr {
    border: 0;
    border-bottom: 1px solid #dadada;
    margin: 60px 0;
}
.map iframe {
    display: block;
    max-width: 100%;
}
.dropcap {
    font-weight: 800;
    display: block;
    float: left;
    font-size: 49px;
    padding: 0;
    margin: 0;
    margin: 12px 8px 0 0;
    text-transform: uppercase;
}

/* Header */
#masthead {
    background: #fff;
    margin-bottom: 0;
    padding-top: 30px;
}
.navbar-brand {
    font-size: 30px;
    line-height: 1.4;
    height: 70px;
}
.navbar-toggle {
    margin-top: 20px;
}
.navbar-nav > li {
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-nav > li > a {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
.nav > li > a:hover,
.nav > li > a:focus {
    background: none;
    color: #3f8dbf;
}
.nav > li > li.current > a {
    background: none;
    color: #3f8dbf;
}
.navbar-nav > li > .dropdown-menu {
    padding: 0;
    margin: 0;
    min-width: 190px;
    border: none;
    border-top: 4px solid #3f8dbf;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.dropdown-menu > li > a {
    padding: 15px;
    line-height: 1;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background: none;
    color: #3f8dbf;
}
.navbar-default .navbar-toggle:focus {
    background: transparent;
}

/* Dividers */
.divide0 {
    width: 100%;
    height: 0px;
}
.divide2 {
    width: 100%;
    height: 2px;
}
.divide3 {
    width: 100%;
    height: 3px;
}
.divide5 {
    width: 100%;
    height: 5px;
}
.divide10 {
    width: 100%;
    height: 10px;
}
.divide15 {
    width: 100%;
    height: 15px;
}
.divide20 {
    width: 100%;
    height: 20px;
}
.divide25 {
    width: 100%;
    height: 25px;
}
.divide30 {
    width: 100%;
    height: 30px;
}
.divide35 {
    width: 100%;
    height: 35px;
}
.divide40 {
    width: 100%;
    height: 40px;
}
.divide45 {
    width: 100%;
    height: 40px;
}
.divide50 {
    width: 100%;
    height: 50px;
}
.divide55 {
    width: 100%;
    height: 55px;
}
.divide60 {
    width: 100%;
    height: 60px;
}
.divide65 {
    width: 100%;
    height: 65px;
}
.divide70 {
    width: 100%;
    height: 70px;
}
.divide75 {
    width: 100%;
    height: 75px;
}
.divide80 {
    width: 100%;
    height: 80px;
}
.divide85 {
    width: 100%;
    height: 85px;
}
.rm0 {
    margin-right: 0px
}
.rm1 {
    margin-right: 1px
}
.rm2 {
    margin-right: 2px
}
.rm5 {
    margin-right: 5px
}
.rm10 {
    margin-right: 10px
}
.rm15 {
    margin-right: 15px
}
.rm20 {
    margin-right: 20px
}
.rm25 {
    margin-right: 25px
}
.rm30 {
    margin-right: 30px
}
.rm40 {
    margin-right: 40px
}
.rm50 {
    margin-right: 50px
}
.lm0 {
    margin-left: 0px
}
.lm1 {
    margin-left: 1px
}
.lm5 {
    margin-left: 5px
}
.lm7 {
    margin-left: 7px
}
.lm10 {
    margin-left: 10px
}
.lm15 {
    margin-left: 15px
}
.lm20 {
    margin-left: 20px
}
.lm25 {
    margin-left: 25px
}
.lm30 {
    margin-left: 25px
}
.lm40 {
    margin-left: 40px
}
.rp5 {
    padding-right: 5px
}
.rp10 {
    padding-right: 10px
}
.rp15 {
    padding-right: 15px
}
.rp20 {
    padding-right: 20px
}
.rp30 {
    padding-right: 30px
}
.rp50 {
    padding-right: 50px
}
.lp0 {
    padding-left: 0px
}
.lp10 {
    padding-left: 10px
}
.lp20 {
    padding-left: 20px
}
.lp30 {
    padding-left: 30px
}
.tp0 {
    padding-top: 0 !important
}
.tp3 {
    padding-top: 3px
}
.tp5 {
    padding-top: 5px
}
.tp10 {
    padding-top: 10px
}
.tp20 {
    padding-top: 20px
}
.tp30 {
    padding-top: 30px
}
.tm4 {
    margin-top: 4px
}
.tm5 {
    margin-top: 5px
}
.tm7 {
    margin-top: 7px
}
.tm10 {
    margin-top: 10px
}
.tm15 {
    margin-top: 15px
}
.tm20 {
    margin-top: 20px
}
.mbm1 {
    margin-bottom: -1px
}
.bp0 {
    padding-bottom: 0 !important
}
.bp10 {
    padding-bottom: 10px !important
}
.bm0 {
    margin-bottom: 0 !important
}
.bm5 {
    margin-bottom: 5px !important
}
.bm10 {
    margin-bottom: 10px !important
}
.bm15 {
    margin-bottom: 15px !important
}
.bm20 {
    margin-bottom: 20px !important
}
.bm30 {
    margin-bottom: 30px !important
}
.bp50 {
    padding-bottom: 50px
}

/* Button */
.btn,
.btn-submit {
    color: #fff !important;
    background: #3f8dbf;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 11px 20px 10px 20px;
    font-weight: 500;
    font-size: 13px;
    text-shadow: none;
    border: none;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: inline-block;
    letter-spacing: 1px;
}
.btn-large {
    padding: 13px 23px 13px 23px
}
.btn.btn-green {
    background: #1abb9c
}
.btn.btn-blue {
    background: #3f8dbf
}
.btn.btn-red {
    background: #e8554e
}
.btn.btn-orange {
    background: #ee7757
}
.btn.btn-purple {
    background: #9b59b6
}
.btn.btn-pink {
    background: #d487be
}
.btn.btn-gray {
    background: #95a5a6
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    background: #387eaa;
    color: #fff !important;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active {
    background: #17a78b !important
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active {
    background: #387eaa !important
}
.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active {
    background: #cf4c45 !important
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active {
    background: #d96c4f !important
}
.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active,
.btn-purple.active {
    background: #8a4fa2 !important
}
.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active,
.btn-pink.active {
    background: #bd78a9 !important
}
.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active {
    background: #859394 !important
}
.color-wrapper .btn {
    background: #FFF !important;
    color: #616161 !important;
}
.color-wrapper .btn:hover {
    background: #e9e9e9 !important
}
.share .btn {
    background: none;
    padding: 8px 17px;
}
.share .btn:hover {
    color: #FFF !important
}
.btn.share-facebook {
    color: #3d5b9b !important;
    border: 2px solid #3d5b9b !important;
}
.btn.share-facebook:hover {
    background: #334c8e !important;
    border: 2px solid #334c8e !important;
}
.btn.share-twitter {
    color: #5aa8cd !important;
    border: 2px solid #5aa8cd !important;
}
.btn.share-twitter:hover {
    background: #499ac8 !important;
    border: 2px solid #499ac8 !important;
}
.btn.share-googleplus {
    color: #3b3b3b !important;
    border: 2px solid #3b3b3b !important;
}
.btn.share-googleplus:hover {
    background: #2e2e2e!important;
    border: 2px solid #2e2e2e !important;
}
.btn.share-pinterest {
    color: #c53942 !important;
    border: 2px solid #c53942 !important;
}
.btn.share-pinterest:hover {
    background: #bc2d32 !important;
    border: 2px solid #bc2d32 !important;
}
.btn-border-dark {
    background: none !important;
    border: 2px solid #616161;
    color: #616161 !important;
}
.btn-border-dark:hover {
    background: none !important;
    border: 2px solid #387eaa;
    color: #387eaa !important;
}
.btn-border-light {
    background: none !important;
    border: 2px solid #9b9b9b;
    color: #9b9b9b !important;
}
.btn-border-light:hover {
    background: none !important;
    border: 2px solid #387eaa;
    color: #387eaa !important;
}

/* Social Icons */
.social {
    padding: 0;
    margin: 0;
    font-size: 0;
    height: 28px;
}
.social li {
    display: inline-block;
    font-family: "fontello-social";
    margin-right: 5px;
}
.social li a {
    display: table;
}
.social li a i {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: #aaa;
    background: none;
    border: 1px solid #aaa;
    width: 28px;
    height: 28px !important;
    line-height: 1;
    font-size: 12px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
.social .icon-s-pinterest {
    border-color: #d8545d;
    color: #d8545d;
}
.social .icon-s-rss {
    border-color: #faaa5e;
    color: #faaa5e;
}
.social .icon-s-facebook {
    border-color: #677fb5;
    color: #677fb5;
}
.social .icon-s-twitter {
    border-color: #70c2e9;
    color: #70c2e9;
}
.social .icon-s-flickr {
    border-color: #ff3ba4;
    color: #ff3ba4;
}
.social .icon-s-dribbble {
    border-color: #e299c2;
    color: #e299c2;
}
.social .icon-s-behance {
    border-color: #42a9fb;
    color: #42a9fb;
}
.social .icon-s-linkedin {
    border-color: #3daccf;
    color: #3daccf;
}
.social .icon-s-vimeo {
    border-color: #42b5d4;
    color: #42b5d4;
}
.social .icon-s-youtube {
    border-color: #d5615c;
    color: #d5615c;
}
.social .icon-s-skype {
    border-color: #5ecbf3;
    color: #5ecbf3;
}
.social .icon-s-tumblr {
    border-color: #829fb9;
    color: #829fb9;
}
.social .icon-s-delicious {
    border-color: #6194dc;
    color: #6194dc;
}
.social .icon-s-500px {
    border-color: #3bbbe6;
    color: #3bbbe6;
}
.social .icon-s-grooveshark {
    border-color: #f88e3b;
    color: #f88e3b;
}
.social .icon-s-forrst {
    border-color: #5f9864;
    color: #5f9864;
}
.social .icon-s-digg {
    border-color: #507faa;
    color: #507faa;
}
.social .icon-s-blogger {
    border-color: #fd893f;
    color: #fd893f;
}
.social .icon-s-klout {
    border-color: #e16747;
    color: #e16747;
}
.social .icon-s-dropbox {
    border-color: #6ba3c5;
    color: #6ba3c5;
}
.social .icon-s-github {
    border-color: #6c93bb;
    color: #6c93bb;
}
.social .icon-s-songkick {
    border-color: #ff3b60;
    color: #ff3b60;
}
.social .icon-s-posterous {
    border-color: #efd57c;
    color: #efd57c;
}
.social .icon-s-appnet {
    border-color: #3daad5;
    color: #3daad5;
}
.social .icon-s-gplus {
    border-color: #bc7067;
    color: #bc7067;
}
.social .icon-s-stumbleupon {
    border-color: #f07356;
    color: #f07356;
}
.social .icon-s-lastfm {
    border-color: #cd443d;
    color: #cd443d;
}
.social .icon-s-spotify {
    border-color: #9acf48;
    color: #9acf48;
}
.social .icon-s-instagram {
    border-color: #b99682;
    color: #b99682;
}
.social .icon-s-evernote {
    border-color: #9fdc82;
    color: #9fdc82;
}
.social .icon-s-paypal {
    border-color: #5b85a8;
    color: #5b85a8;
}
.social .icon-s-picasa {
    border-color: #b088c1;
    color: #b088c1;
}
.social .icon-s-soundcloud {
    border-color: #ff8b45;
    color: #ff8b45;
}
.social a:hover .icon-s-pinterest {
    background-color: #d8545d
}
.social a:hover .icon-s-rss {
    background-color: #faaa5e
}
.social a:hover .icon-s-facebook {
    background-color: #677fb5
}
.social a:hover .icon-s-twitter {
    background-color: #70c2e9
}
.social a:hover .icon-s-flickr {
    background-color: #ff3ba4
}
.social a:hover .icon-s-dribbble {
    background-color: #e299c2
}
.social a:hover .icon-s-behance {
    background-color: #42a9fb
}
.social a:hover .icon-s-linkedin {
    background-color: #3daccf
}
.social a:hover .icon-s-vimeo {
    background-color: #42b5d4
}
.social a:hover .icon-s-youtube {
    background-color: #d5615c
}
.social a:hover .icon-s-skype {
    background-color: #5ecbf3
}
.social a:hover .icon-s-tumblr {
    background-color: #829fb9
}
.social a:hover .icon-s-delicious {
    background-color: #6194dc
}
.social a:hover .icon-s-500px {
    background-color: #3bbbe6
}
.social a:hover .icon-s-grooveshark {
    background-color: #f88e3b
}
.social a:hover .icon-s-forrst {
    background-color: #5f9864
}
.social a:hover .icon-s-digg {
    background-color: #507faa
}
.social a:hover .icon-s-blogger {
    background-color: #fd893f
}
.social a:hover .icon-s-klout {
    background-color: #e16747
}
.social a:hover .icon-s-dropbox {
    background-color: #6ba3c5
}
.social a:hover .icon-s-github {
    background-color: #6c93bb
}
.social a:hover .icon-s-songkick {
    background-color: #ff3b60
}
.social a:hover .icon-s-posterous {
    background-color: #efd57c
}
.social a:hover .icon-s-appnet {
    background-color: #3daad5
}
.social a:hover .icon-s-gplus {
    background-color: #bc7067
}
.social a:hover .icon-s-stumbleupon {
    background-color: #f07356
}
.social a:hover .icon-s-lastfm {
    background-color: #cd443d
}
.social a:hover .icon-s-spotify {
    background-color: #9acf48
}
.social a:hover .icon-s-instagram {
    background-color: #b99682
}
.social a:hover .icon-s-evernote {
    background-color: #9fdc82
}
.social a:hover .icon-s-paypal {
    background-color: #5b85a8
}
.social a:hover .icon-s-picasa {
    background-color: #b088c1
}
.social a:hover .icon-s-soundcloud {
    background-color: #ff8b45
}
.social a:hover a:hover i {
    background-color: #FFF
}
.social a:hover i {
    color: #FFF
}
.black-wrapper .social li a:hover i {
    color: #FFF
}

/* Tabs on top */
.tabs-top .etabs {
    margin: 0;
    padding: 0;
    overflow: inherit;
}
.tabs-top.center .etabs {
    text-align: center
}
.tabs-top .tab {
    margin: 0;
    padding: 0;
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin-right: 3px;
}
.tabs-top .tab a {
    padding: 9px 20px;
    display: block;
    color: #666;
    font-size: 13px;
    font-weight: 800;
    border: 1px solid #b5b5b5;
    text-transform: uppercase;
}
.tabs-top .tab a:hover,
.tabs-top .tab.active a {
    color: #3f8dbf;
    border-color: #3f8dbf;
}
.tabs-top.tab-container .panel-container {
    position: relative;
    z-index: 1;
    display: block;
}
.tabs-top.tab-container .panel-container p {
    margin: 0;
    padding-bottom: 10px;
}
.tabs-top.tab-container .panel-container .tab-block {
    padding-top: 10px;
    padding-bottom: 0;
}

/* Accordion / Toggle */
.panel-group .panel {
    margin-bottom: 10px;
    background: none;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.panel-heading {
    padding: 0;
    background: none !important;
    border: 0 !important;
}
.panel-heading .panel-title {
    color: #666;
    font-size: 13px;
    font-weight: 800;
    border: 1px solid #b5b5b5;
    text-transform: uppercase;
}
.panel-title > a {
    display: block;
    color: #666;
    padding: 13px 15px;
}
.panel-title > a:hover {
    color: #3f8dbf
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
    border: 0
}
.panel-default > .panel-heading + .panel-collapse {
    border: 1px solid #b5b5b5;
    border-top: none;
}

/* OWL Carousel */
.carousel-th .item {
    margin: 0 10px 1px 10px
}
.owl-clients .item img {
    max-width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
.owl-clients .item:hover img {
    max-width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.owl-carousel {
    position: relative
}
.owl-carousel .owl-controls {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    pointer-events: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
.owl-carousel:hover .owl-controls {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.owl-carousel .owl-controls .owl-prev {
    position: absolute;
    top: 103px;
    left: 23px;
    pointer-events: auto;
}
.owl-carousel .owl-controls .owl-next {
    position: absolute;
    top: 103px;
    right: 23px;
    pointer-events: auto;
}
.owl-carousel .owl-controls .owl-prev,
.owl-carousel .owl-controls .owl-next {
    z-index: 1;
    cursor: pointer;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    background: rgba(0,0,0,0.3);
    color: #f7f7f7;
    line-height: 1;
    font-size: 18px;
    padding: 12px;
    width: auto;
    height: auto;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.owl-carousel .owl-controls .owl-prev:hover,
.owl-carousel .owl-controls .owl-next:hover {
    background: rgba(0,0,0,0.5)
}
.owl-clients,
.owlcarousel {
    display: none
}
.owl-slider-wrapper {
    position: relative;
    margin-bottom: 20px;
}
.owl-slider-wrapper .item img {
    display: block;
    width: 100%;
    height: auto;
}
.owl-slider-wrapper .owl-custom-nav {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    pointer-events: none;
}
.owl-slider-wrapper .owl-custom-nav .slider-prev {
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -23px;
    pointer-events: auto;
}
.owl-slider-wrapper .owl-custom-nav .slider-next {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -23px;
    pointer-events: auto;
}
.owl-slider-wrapper .owl-custom-nav .slider-prev,
.owl-slider-wrapper .owl-custom-nav .slider-next {
    z-index: 1;
    cursor: pointer;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    background: rgba(0,0,0,0.3);
    color: #f7f7f7;
    line-height: 1;
    font-size: 18px;
    padding: 12px 17px;
    width: auto;
    height: auto;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.owl-slider-wrapper .owl-custom-nav .slider-prev:before,
.owl-slider-wrapper .owl-custom-nav .slider-next:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
}
.owl-slider-wrapper .owl-custom-nav .slider-prev:before {
    content: '\e75d'
}
.owl-slider-wrapper .owl-custom-nav .slider-next:before {
    content: '\e75e'
}
.owl-slider-wrapper .owl-custom-nav .slider-prev:hover,
.owl-slider-wrapper .owl-custom-nav .slider-next:hover {
    background: rgba(0,0,0,0.5)
}
.owl-slider-wrapper .owl-controls {
    margin-top: 30px;
    text-align: center;
    position: relative;
}
.owl-slider-wrapper .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.owl-slider-wrapper .owl-controls {
    margin: -40px 0 0 0
}
.owl-slider-wrapper .owl-controls .owl-pagination .owl-page span {
    display: block;
    margin: 0 2px;
    width: 12px;
    height: 12px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    background: rgba(0,0,0,0.3);
    border: none;
}
.owl-slider-wrapper .owl-controls .owl-pagination .owl-page.active span,
.owl-slider-wrapper .owl-controls .owl-pagination .owl-page:hover span {
    background: rgba(0,0,0,0.5);
    border: none;
}
.owl-slider-wrapper .owl-custom-nav,
.owl-slider-wrapper .owl-controls {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
.owl-slider-wrapper:hover .owl-custom-nav,
.owl-slider-wrapper:hover .owl-controls {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.owl-item.loading {
    min-height: inherit;
    background: none;
}

/* Caption and Overlay */
.image-caption {
    width: 100%;
    padding: 15px 20px;
    background: #fff;
    position: relative;
    border: 1px solid #e3e3e3;
    border-top: none;
}
.owl-blog .image-caption,
.grid-blog .post .image-caption {
    padding-bottom: 10px;
}
.owlcarousel .image-caption h3,
.item .image-caption h3,
.grid-blog .image-caption h3 {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.image-caption h3 a {
    color: #616161
}
.image-caption h3 a:hover {
    color: #3f8dbf
}
.image-caption:before {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    margin-left: 20px;
    width: 8px;
    height: 8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    z-index: 100;
}
.black-wrapper .image-caption {
    background: #3a3a3a;
    border: none;
    padding: 15px 20px;
}
.black-wrapper .image-caption:before {
    border-bottom: 8px solid #3a3a3a
}
.black-wrapper .image-caption h3 a {
    color: #cacaca
}
.black-wrapper .image-caption h3 a:hover {
    color: #3f8dbf
}
.icon-overlay {
    display: block;
    overflow: hidden;
    position: relative;
}
.icon-overlay img {
    display: block;
    max-width: 100%;
    -webkit-backface-visibility: hidden;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.icon-overlay a:hover img {
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.icon-overlay a .icn-more {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    height: 100%;
    position: absolute;
    text-decoration: none;
    width: 100%;
    z-index: 100;
    background: #222;
    background-color: rgba(63,141,191, 0.92);
    overflow: hidden;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.icon-overlay a:hover .icn-more {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.icon-overlay a .icn-more:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    position: absolute;
    text-align: center;
    content: "\f50d";
    line-height: 1;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #FFF;
    top: 50%;
    left: 50%;
    z-index: 2;
    border: 1px solid #FFF;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    -moz-transition: -moz-transform 0.25s ease-in-out;
    -o-transition: -o-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
}
.icon-overlay.medium .icn-more:before {
    font-size: 16px;
    padding-top: 8px;
    width: 34px;
    height: 34px;
    margin: -17px 0 0 -17px;
}
.icon-overlay.small .icn-more:before {
    font-size: 15px;
    top: 50%;
    margin: -6px 0 0 -6px;
}
.icon-overlay a:hover .icn-more:before {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}
.icon-overlay a:hover .icn-more:before {
    top: 50%!important
}
.sidebox .post-list .icon-overlay a .icn-more:before {
    border: none
}
.icon-overlay.icn-link a .icn-more:before {
    content: "\f517"
}

/* Fancybox */
#fancybox-thumbs ul li img {
    max-width: none
}
.info.hidden {
    display: none
}
.fancybox-wrap {
    background: #FFF !important
}
.fancybox-title,
.fancybox-error {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 14px !important;
    line-height: 24px !important;
}
.fancybox-title h2,
.fancybox-title h3 {
    color: #616161;
    margin-bottom: 10px;
    line-height: 22px;
    font-size: 18px;
}
.fancybox-skin {
    color: #616161 !important
}
.fancybox-title-inside-wrap {
    padding: 20px !important
}
.fancybox-nav span {
    width: 36px !important;
    height: 36px !important;
    margin-top: -18px !important;
}
.fancybox-close {
    top: 10px !important;
    right: 10px !important;
    width: 36px !important;
    height: 36px !important;
}
.fancybox-close:before,
.fancybox-prev span:before,
.fancybox-next span:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0 !important;
    margin-top: 2px !important;
    text-align: center;
    width: 36px !important;
    font-size: 20px !important;
}
.fancybox-close,
.fancybox-prev span,
.fancybox-next span {
    background: rgba(0,0,0,0.5) !important;
    color: #f7f7f7 !important;
    text-align: center !important;
    -webkit-transition: all 200ms ease-in !important;
    -o-transition: all 200ms ease-in !important;
    -moz-transition: all 200ms ease-in !important;
    -webkit-border-radius: 3px !important;
    border-radius: 3px !important;
    opacity: 0;
}
.fancybox-close:hover,
.fancybox-prev span:hover,
.fancybox-next span:hover {
    background: rgba(0,0,0,0.7) !important
}
.fancybox-wrap:hover .fancybox-close,
.fancybox-wrap:hover .fancybox-prev span,
.fancybox-wrap:hover .fancybox-next span {
    opacity: 1
}
.fancybox-prev span:before {
    content: '\e75d'
}
.fancybox-next span:before {
    content: '\e75e'
}
.fancybox-close:before {
    content: '\2715'
}
#fancybox-loading {
    margin-top: -12px !important;
    margin-left: -12px !important;
    background: #000 !important;
    padding: 8px;
    opacity: 1 !important;
    -webkit-border-radius: 3px !important;
    border-radius: 3px !important;
}
#fancybox-loading div {
    width: 24px !important;
    height: 24px !important;
    background-image: url(style/images/fancy-loading.gif) !important;
}
.fancybox-overlay {
    background: rgba(27,27,27,0.94) !important
}
.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.33);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.33);
    box-shadow: 0 0 5px rgba(0,0,0,0.33);
}

/* Blog */
.latest-blog-wrapper {
    overflow: hidden;
}
.latest-blog {
    margin-right: -30px;
    margin-bottom: -50px;
}
.latest-blog .post {
    float: left;
    width: 470px;
    margin-bottom: 50px;
    margin-right: 30px;
}
.latest-blog .post:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.latest-blog .post figure {
    width: 150px;
    float: left;
    margin-right: 25px;
}
.latest-blog .post .post-content {
    overflow: hidden
}
.latest-blog .post-title {
    margin: 0
}
.meta,
.more {
    font-size: 12px;
    color: #666;
    display: block;
    margin-bottom: 7px;
}
.more {
    margin: 0;
    color: #3f8dbf;
}
.classic-blog .meta {
    margin-bottom: 12px;
}
.items .meta,
.owl-portfolio .meta {
    margin-bottom: 0;
}
.meta a {
    color: #666;
}
.meta a:hover {
    color: #3f8dbf;
}
.meta span:before {
    display: inline-block;
    content: "|";
    padding: 0 10px 0 7px;
}
.meta span:first-child:before {
    display: none;
    padding: 0;
}
a.more:after {
    content: "→";
    padding-left: 5px;
}
.meta.tags a:before {
    content: "#";
    display: inline-block;
}
.grid-blog .post {
    margin-bottom: 30px
}
.grid-blog .post .date {
    display: inline
}
.grid-blog:before,
.grid-blog:after {
    display: table;
    content: "";
    line-height: 0;
}
.grid-blog:after {
    clear: both
}
.grid-blog .post {
    float: left;
    min-height: 1px;
    position: relative;
}
.grid-blog.col3 {
    margin-left: -20px;
    margin-bottom: -20px;
}
.grid-blog.col3 .post {
    width: 310px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.grid-blog.col2 {
    margin-left: -30px;
    margin-bottom: -30px;
}
.grid-blog.col2 .post {
    width: 470px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.row .grid-blog.col2 {
    margin-left: -20px;
    margin-bottom: -20px;
}
.row .grid-blog.col2 .post {
    width: 308px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.single figure {
    margin-bottom: 10px
}
.classic-blog figure.main,
.classic-blog iframe,
.classic-blog .owl-slider-wrapper.main {
    margin-bottom: -1px;
    display: block;
}
.classic-blog .post-content.image-caption,
.about-author.image-caption {
    border: 1px solid #e3e3e3;
    padding: 25px;
}
.classic-blog .post-content.image-caption:before,
.about-author.image-caption:before {
    display: none
}
.classic-blog .post {
    margin-bottom: 50px
}
.classic-blog.single .post {
    margin: 0
}
.format-chat ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.format-chat ul li strong {
    text-transform: uppercase;
    color: #616161;
}
.format-link .post-title a:after {
    display: inline-block;
    content: "→";
    padding-left: 10px;
}

/* Pagination */
.pagination {
    display: block
}
.pagination ul {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 40px;
}
.pagination ul > li {
    display: inline-block;
    margin-right: 2px;
}
.pagination ul > li > a,
.pagination ul > li > span {
    float: none;
    border: none;
    color: #9b9b9b;
    font-weight: 800;
    text-transform: uppercase;
    padding: 9px 15px;
    border: 2px solid #9b9b9b;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
    color: #3f8dbf;
    border: 2px solid #3f8dbf;
}
.pagination ul > li:first-child > a,
.pagination ul > li:last-child > a {

}

/* Navigation */
.navigation {
    padding-top: 20px;
    padding-bottom: 20px;
}
.navigation a {
    color: #9b9b9b;
    font-weight: 500;
    text-transform: uppercase;
    margin: 5px 0;
    padding: 5px 10px 4px;
    border: 2px solid #9b9b9b;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
}
.navigation a:hover {
    color: #3f8dbf;
    border: 2px solid #3f8dbf;
}

/* Author */
.about-author {

}
.about-author .author-image {
    width: 120px;
    float: left;
    margin-right: 20px;
    display: block;
}
.about-author .author-details {
    overflow: hidden
}
.about-author .author-details .social {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Comments */
#comments {
    margin: 0 0 80px 0;
    position: relative;
}
#comments ol.commentlist {
    list-style: none;
    margin: -20px 0 0 0;
    padding: 0;
}
#comments ol.commentlist li {
    padding: 30px 0 0 0;
    background: none;
}
#comments ol.commentlist li:first-child {
    border: none;
    margin: 0;
}
#comments .user {
    float: left;
    width: 70px;
    height: 70px;
    margin-right: 20px;
    position: relative;
}
#comments .message {
    overflow: hidden
}
#comments .image-caption {
    border: 1px solid #e3e3e3
}
#comments .image-caption:before {
    display: none
}
#comments ul.children {
    margin: 0;
    overflow: inherit;
    padding: 0 0 0 55px;
    list-style: none;
}
#comments ol.commentlist ul.children li {
    padding-right: 0;
    border: none;
}
#comments .info h2 {
    font-size: 16px;
    margin: 0;
    display: inline;
    margin-right: 5px;
}
#comments .info {
    margin-bottom: 12px
}
#comments .info h2 a {
    color: #616161
}
#comments .info h2 a:hover {
    color: #3f8dbf
}
#comments .info .meta {
    display: block;
    margin: -3px 0 -4px 0;
}
#comments .info .meta .date {
    display: inline
}
#comments a.reply-link {
    display: inline;
    color: #9f9f9f;
}
#comments a.reply-link:hover {
    color: #3f8dbf
}
#comments a.reply-link:before {
    display: inline-block;
    content: "|";
    padding: 0 10px 0 7px;
    color: #9f9f9f;
}
.comment-form-wrapper p {
    padding-bottom: 20px
}
.blog.no-sidebar #comments .meta {
    text-align: left
}

/* Progress bar */
.progress-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.progress-list p {
    margin-bottom: 5px
}
.progress-list li {
    margin-bottom: 20px
}
.progress-list li em {
    padding-left: 8px;
    color: #3f8dbf;
    font-style: normal;
}
.progress-list li em:before {
    content: "-";
    padding-right: 10px;
    display: inline-block;
}
.progress.plain {
    height: 15px;
    margin-bottom: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background: #eaeaea;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.progress.plain .progress-bar {
    text-shadow: none;
    background: #3f8dbf;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    line-height: 14px;
}

/* Side bar */
.sidebar {
    padding-left: 25px !important;
}
.sidebar.left-sidebar {
    padding: 15px !important;
    padding-top: 0 !important;
}
.sidebox {
    margin-top: 50px;
    display: block;
}
.sidebox h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 500;
}
.sidebox:first-child {
    margin: 0
}
.sidebox .post-list {
    padding: 0;
    margin: 0;
}
.sidebox .post-list:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.sidebox .post-list li {
    clear: both;
    margin-bottom: 15px;
    display: block;
    overflow: hidden;
}
.sidebox .post-list h6 {
    font-size: 14px;
    line-height: 25px;
    margin: 0;
    font-weight: normal;
    text-transform: none;
    letter-spacing: normal;
    font-weight: 500;
}
.sidebox a {
    color: #616161;
}
.sidebox a:hover {
    color: #3f8dbf;
}
.sidebox .post-list .icon-overlay {
    float: left;
    width: 70px;
    height: 70px;
}
.sidebox .post-list .meta {
    margin-left: 85px;
    overflow: hidden;
    margin-bottom: 0;
}
.sidebox .post-list .meta em {
    font-size: 14px;
    color: #9f9f9f;
    font-style: normal;
    font-weight: 500;
}
.sidebox .post-list .meta em:before {
    display: none
}
.sidebox .archive {
    margin: 0;
    padding: 0;
}
.sidebox .archive:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.sidebox .archive h4 {
    margin-top: 20px;
}
.sidebox .archive li {
    clear: both;
    margin-bottom: 5px;
    display: block;
    overflow: hidden;
    font-size: 14px;
}
.sidebox .archive li em {
    margin-left: 10px;
    font-size: 14px;
    color: #9f9f9f;
    font-style: normal;
    font-weight: 500;
}
.sidebox .archive li em:before {
    display: none;
}
.sidebox .archive p {
    margin-bottom: 5px;
    padding: 0 0 5px 20px;
    font-size: 14px;
    border-bottom: 1px dotted #ddd;
}
.sidebox .archive p em {
    margin-left: 10px;
    font-size: 14px;
    color: #9f9f9f;
    font-style: normal;
    font-weight: 500;
}
.sidebox.widget form {
    margin: 0
}
.sidebox.widget .searchform input {
    margin: 0
}
.widget .list {
    list-style: none;
    margin: 0;
}
.border-list {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #9a9a9a;
    background: #FFF;
    border: 1px solid #e3e3e3;
}
.border-list li {
    border-top: 1px solid #e3e3e3;
    position: relative;
}
.border-list li a {
    display: block;
    padding: 8px 15px;
    color: #616161;
}
.border-list li a:hover {
    color: #3f8dbf
}
.border-list li:after {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: block;
    text-decoration: inherit;
    content: "\e762";
    display: block;
    position: absolute;
    right: 12px;
    top: 8px;
    font-size: 17px;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
.border-list li:hover:after {
    color: #3f8dbf
}
.border-list li:first-child {
    border-top: none
}

/* Forms */
.forms {
    position: relative;
    padding: 0;
    width: 100%;
}
.form-container .response {
    display: none
}
.forms ol {
    margin: 0;
    padding: 0;
}
.forms ol li {
    line-height: auto;
    list-style: none;
}
.forms li.hidden-row {
    display: none
}
input,
textarea,
.uneditable-input {
    width: 100%
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    height: 40px;
    padding: 0 10px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 25px;
    color: #7a7a7a;
    border: 1px solid #dadada;
    resize: none;
    vertical-align: middle;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #FFF;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border: 1px solid #b3b3b3;
    background: #FFF;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
textarea {
    height: 100%;
    padding: 5px 10px;
    margin-bottom: 15px;
    min-height: 150px;
    resize: vertical;
}
.btn-submit {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    width: auto;
}
.forms li.error input,
.forms li.error textarea {
    border: 1px solid #b54d4d
}
.forms span.error {
    display: none
}
.forms .button-row span.error {
    padding: 0;
    display: none;
}
.forms .button-row p.forgot {
    padding: 6px 0 0 10px;
    overflow: hidden;
    display: inline-block;
}
.forms label {
    display: block;
    float: left;
    width: 95px;
    padding-top: 7px;
    font-size: 13px;
    clear: both;
}
.comment-form div label {
    position: absolute;
    top: 0;
    left: 0;
}
.form-container:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
::-webkit-input-placeholder {
    color: #cacaca !important
}
:-moz-placeholder {
    color: #cacaca !important
}
::-moz-placeholder {
    color: #cacaca !important
}
:-ms-input-placeholder {
    color: #cacaca !important
}
input:focus::-webkit-input-placeholder {
    color: transparent !important
}
input:focus:-moz-placeholder {
    color: transparent !important
}
input:focus::-moz-placeholder {
    color: transparent !important
}
input:focus:-ms-input-placeholder {
    color: transparent !important
}
.newsletter {
    position: relative;
    margin: 0 auto;
}
.newsletter input[type="email"] {
    background: #282828;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #434343;
    height: 40px;
    color: #cacaca !important;
}
.newsletter input[type="email"]:focus {
    background: #282828;
    border: 1px solid #5a5a5a;
}
.newsletter .btn-submit {
    position: absolute;
    right: 0;
    top: 0;
    color: #FFF !important;
    margin: 0;
    height: 40px;
    padding: 0 15px;
    font-size: 16px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

/* Go to top */
#scrollUp {
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    background: #000;
    background: rgba(0,0,0,0.3);
    color: #f7f7f7;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: background 200ms linear;
    -moz-transition: background 200ms linear;
    transition: background 200ms linear;
    -webkit-backface-visibility: hidden;
    line-height: 1;
    font-size: 20px;
    padding: 9px 10px 10px 10px;
}
#scrollUp:hover {
    background: #333;
    background: rgba(0,0,0,0.5)
}

/* Tooltip */
.tooltip-inner {
    color: #fff;
    background-color: #3f8dbf;
    padding: 5px 12px;
}
.tooltip.top .tooltip-arrow,
.tooltip.top-left .tooltip-arrow,
.tooltip.top-right .tooltip-arrow {
    border-top-color: #3f8dbf
}
.tooltip.right .tooltip-arrow {
    border-right-color: #3f8dbf
}
.tooltip.left .tooltip-arrow {
    border-left-color: #3f8dbf
}
.tooltip.bottom .tooltip-arrow,
.tooltip.bottom-left .tooltip-arrow,
.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #3f8dbf
}

/* Box layout */
@media screen and (min-width: 1270px) {
    .box-layout {
        background: transparent url(../images/bg/bg1.jpg) repeat fixed;
        padding: 0;
    }
    .box-layout .body-wrapper {
        position: relative;
        width: 1270px;
        margin: 0 auto;
        -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.17);
        -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,0.17);
        box-shadow: 0 0 3px 0 rgba(0,0,0,0.17);
    }
    .box-layout .body-wrapper .navbar-header {
        width: 1270px;
    }
}

/* Responsive */
@media screen and (max-width: 991px) {
    .sub-footer {
        text-align: center;
    }
    .sub-footer .footer-menu {
        float: none !important;
    }
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        padding: 0;
        width: 100%;
        font-size: 22px;
        height: 32px;
        text-align: center;
    }
    .sub-footer {
        text-align: center;
    }
    .sub-footer .footer-menu {
        float: none !important;
    }
    .sidebar {
        margin-top: 60px;
    }
}
